
:root {
    --font_family: Verdana, Arial, Helvetica, sans-serif;
}

html body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(183deg, #376b97, #399997, #359275, #8a8f35, #a04e32);
    background-size: 1000% 1000%;
    -webkit-animation: background_gradient 259s ease infinite;
    -moz-animation: background_gradient 259s ease infinite;
    animation: background_gradient 259s ease infinite;
    font-family: var(--font_family);
}
@-webkit-keyframes background_gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes background_gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes background_gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#time-data {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 3vmin 5%;
    font-size: 3vmin;
    font-weight: 600;
    color: azure;
}

#current-time {
    margin-right: 5%;
}

#new-todo-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3vmin;
}

#new-todo {
    width: 40%;
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
}

#set-date {
    height: 2rem;
}

#todo-date {
    width: 20%;
    border: none;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    background: transparent;
}

#plus-img {
    height: 1.5rem;
    margin-right: 5%;
}

#rectangle, #trash {
    width: 3rem;
}



